.media {
    margin : 0;
    padding : 0;
    list-style : none;
  
    .item {
      padding-bottom : 10px;
      padding-top: 10px;
      padding-left: 10px;
      border-top : 2px dotted $red;
      &:hover{
        background: transparentize($yellow, .3);
      }
      &:last-of-type {
        border-bottom : 2px dotted $red;
      }
      @include clearfix;
    }
    img {
      float : left;
      margin-right : 10px;
    }
    .head {
      margin : 0;
      padding : 0;
      font-size : 2rem;
    }
  }

  li {
    color : $blue;
  }
  ul li a{
    color : $blue;
  }
  
  #forms {
    font-family : $font-highlight;
  }