@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Serif|Open+Sans+Condensed:300|Slabo+27px');
 
$off-white : #eee8d6;
$blue : #009ac1;
$yellow : #ffba00;
$pink : #ca07f9;
$green : #548c27;
$orange : #f39856;
$red : #d14348;
$purple : #6d73c2;
$darkblue : #0A0A32;

$font-main : 'IBM Plex Sans Condensed', sans-serif;
$font-highlight : 'IBM Plex Serif', serif;
$font-heading : 'Slabo 27px', serif;

$color-main : $purple;
$color-background : $off-white;
$color-heading : $pink;
$color-lists : $blue;